@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

html,
body {
  background-color: rgb(240, 240, 240);
}

.mh-login-register {
  margin: 5px 25px 0;
  flex-direction: column;
  padding-bottom: 2px;
}

.modal-title {
  font-size: 25pt;
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 10px;
}

.nl-nonactive {
  color: #333;
}

.modal-body {
  text-align: center;
}

.creds-modal-body {
  display: flex;
  flex-direction: column;
}

.creds-btns-can {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.creds-msg {
  margin: 10px 0 25px;
}

.creds-form-btns {
  margin: 15px 0;
  height: 45px;
  font-size: 14pt;
  font-weight: 600;
  border: #222 1px solid;
}

.creds-form-confirm {
  background-color: goldenrod;
}

.creds-form-btns:hover {
  background-color: #222;
  border: goldenrod 1px solid;
}

.page-contents {
  padding-top: 75px;
  min-height: 100vh;
  width: 100%;
}

.home-page-show-title-can {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.cheeky-hook {
  font-size: 15pt;
  font-weight: 600;
  margin-top: -15px;
}

.creds-can {
  min-height: 60vh;
}

.creds-form-can {
  width: 80%;
  margin: 0 auto;
}

.home-page-show-header {
  background-image: url('../imgs/ant.webp');
  background-repeat: repeat;
  background-position: -105% 10%;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
  font-size: 90pt;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Steelfish Rg', 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 800;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-font-smoothing: antialiased;
}

.form-control::-webkit-input-placeholder {
  color: #222;
  opacity: 0.5; /* Firefox */
}

.my-prof-page-show-title-can {
  display: flex;
  background-color: rgb(199, 199, 199);
  border-radius: 5px;
  padding: 5px 20px;
}

.my-prof-page-show-header {
  font-size: 25pt;
  margin: 0 auto;
}

.my-prof-page {
  min-height: 100vh;
}

.ratatouille {
  display: flex;
  align-items: center;
}

.pref-page {
  padding-top: 15px;
}

.exp-offcan {
  padding: 1px;
  border: none;
  background-color: rgb(199, 199, 199);
}

.exp-offcan:hover {
  padding: 1px;
  border: none;
  background-color: rgb(199, 199, 199);
}

.exp-offcan:active {
  padding: 1px;
  border: none;
  background-color: rgb(170, 170, 170) !important;
}

.my-prof-opt {
  color: #222;
  text-decoration: none;
  font-size: 14pt;
}

.off-canv-opt {
  list-style-type: none;
}

.hidden {
  display: none;
}
/* -------------------------------------- MOVIE PAGE ------------------------------------------ */

.backdrop-showcase {
  min-height: 50vh;
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.backdrop-showcase-mobile {
  display: none;
}

.moviepage-contents {
  min-height: 100vh;
  width: 100%;
}

.film-cover-image-can {
  width: 250px;
}

.movie-cover-img {
  width: 100%;
  border-radius: 15px;
  border: rgb(240, 240, 240) solid 1px;
}

.film-package {
  display: flex;
  align-items: center;
  padding-top: 85px;
  padding-bottom: 40px;
  backdrop-filter: blur(200px);
  width: 100%;
}

.mp-film-bd-info {
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: auto 75px;
  width: 60%;
}

.mp-film-title {
  padding: 7px;
  margin: 0 auto;
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/******************************************** Footer styling **********************/
footer {
  background-color: rgb(240, 240, 240);
  border-top: goldenrod 15px solid;
  display: flex;
  width: 100%;
}

.footy-can {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 25vh;
}

.footer-links-can {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
}

.footy-header {
  text-align: center;
  padding-top: 25px;
  font-size: 25pt;
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.footy-sub-header {
  margin: 0 auto;
  padding: 10px;
  font-size: 14pt;
  font-weight: 500;
}

.footy-links-l,
.footy-links-m,
.footy-links-r {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.footy-link-list {
  text-align: center;
}

.footy-links-l > a,
.footy-links-m > a,
.footy-links-r > a {
  color: #111;
  font-size: 11pt;
  text-decoration: none;
}

.footer-copyright {
  display: flex;
  font-size: 9pt;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat Alternates', sans-serif;
  padding-bottom: 5px;
}

.socials-box {
  display: flex;
  justify-content: space-around;
}

.footy-social-icon {
  height: 36px;
}

.moviebuffs-copyright {
  font-size: 10pt;
  font-style: italic;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .home-page-show-header {
    font-size: 65pt;
  }

  .cheeky-hook {
    font-size: 11pt;
  }

  .backdrop-showcase {
    display: none;
  }

  .backdrop-showcase-mobile {
    display: flex;
    min-height: 40vh;
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .film-package {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .film-package {
    padding: 125px 0 100px 60px;
  }
}

@media screen and (min-width: 1050px) {
  .film-package {
    padding-left: 100px;
  }
}

@media screen and (min-width: 1700px) {
  .film-package {
    padding-left: 200px;
  }
}
