@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

html,
body {
  background-color: rgb(240, 240, 240);
}

.mh-login-register {
  margin: 5px 25px 0;
  flex-direction: column;
  padding-bottom: 2px;
}

.modal-title {
  font-size: 25pt;
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 10px;
}

.nl-nonactive {
  color: #333;
}

.modal-body {
  text-align: center;
}

.creds-modal-body {
  display: flex;
  flex-direction: column;
}

.creds-btns-can {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.creds-msg {
  margin: 10px 0 25px;
}

.creds-form-btns {
  margin: 15px 0;
  height: 45px;
  font-size: 14pt;
  font-weight: 600;
  border: #222 1px solid;
}

.creds-form-confirm {
  background-color: goldenrod;
}

.creds-form-btns:hover {
  background-color: #222;
  border: goldenrod 1px solid;
}

.page-contents {
  padding-top: 75px;
  min-height: 100vh;
  width: 100%;
}

.home-page-show-title-can {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.cheeky-hook {
  font-size: 15pt;
  font-weight: 600;
  margin-top: -15px;
}

.creds-can {
  min-height: 60vh;
}

.creds-form-can {
  width: 80%;
  margin: 0 auto;
}

.home-page-show-header {
  background-image: url('../imgs/ant.webp');
  background-repeat: repeat;
  background-position: -105% 10%;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
  font-size: 90pt;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Steelfish Rg', 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 800;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-font-smoothing: antialiased;
}

.form-control::-webkit-input-placeholder {
  color: #222;
  opacity: 0.5; /* Firefox */
}

.my-prof-page-show-title-can {
  display: flex;
  background-color: rgb(199, 199, 199);
  border-radius: 5px;
  padding: 5px 20px;
}

.my-prof-page-show-header {
  font-size: 25pt;
  margin: 0 auto;
}

.my-prof-page {
  min-height: 100vh;
}

.ratatouille {
  display: flex;
  align-items: center;
}

.pref-page {
  padding-top: 15px;
}

.exp-offcan {
  padding: 1px;
  border: none;
  background-color: rgb(199, 199, 199);
}

.exp-offcan:hover {
  padding: 1px;
  border: none;
  background-color: rgb(199, 199, 199);
}

.exp-offcan:active {
  padding: 1px;
  border: none;
  background-color: rgb(170, 170, 170) !important;
}

.my-prof-opt {
  color: #222;
  text-decoration: none;
  font-size: 14pt;
}

.off-canv-opt {
  list-style-type: none;
}

.hidden {
  display: none;
}
/* -------------------------------------- MOVIE PAGE ------------------------------------------ */

.mp-film-opts-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tmdb-rating {
  font-size: 18pt;
}

.rate-form-slider {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 70%;
}

.star-form-label {
  text-align: center;
}

.stars-mssg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-icon {
  color: goldenrod;
}

.slider-star {
  margin: 5px;
}

.range-output {
  min-width: 25px;
}

.mp-section-hdr {
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 22pt;
  font-style: normal;
  text-align: center;
}

.mp-video-section {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.mp-videos-can {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.embed-vid {
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 3px 3px 3px #222;
}

.hideme {
  display: none;
}

.rate-btn {
  background-color: #222;
  align-items: center;
  border: none;
  padding-bottom: 0;
}

.rate-sub-btn {
  margin: 10px;
}
/******************************************** LIST PAGE ****************************/
.lp-can {
  padding-top: 100px;
}

.lp-section-hdr {
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 22pt;
  font-style: normal;
}

.lp-watchlist-can {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0;
}

.watchlist-img-link {
  width: 15%;
  padding: 10px;
  min-width: 55px;
}

.watchlist-card {
  box-shadow: #333 0 0 5px;
  background-color: gainsboro;
  border-radius: 15px;
  margin: 15px auto;
  display: flex;
  width: 80%;
}

.wl-img-cover {
  width: 100%;
  border-radius: 3px;
}

.wl-film-info {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wl-film-rate {
  display: flex;
  padding: 5px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 3px solid whitesmoke;
  font-size: 11pt;
  font-weight: 700;
}

.wl-film-title {
  padding: 5px;
  font-weight: 600;
}

.cl-coming-soon {
  display: flex;
  margin: 100px;
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  min-height: 300px;
  font-size: 22pt;
  font-style: normal;
  border: gainsboro 5px dashed;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/******************************************** Best Movies *****************************************/

.best-contents {
  padding: 100px 0px;
}

.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-card {
  flex: 1;
  flex-basis: 300px;
  flex-grow: 0;
  height: 440px;
  margin: 25px 0;
  background: black;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative;
}
.movie-card img {
  width: 100%;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  transition: all 0.7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: scroll;
}

.ub-mp-film-title {
  font-size: 30pt;
  font-weight: 600;
  padding: 18px 0;
}

.ub-mp-film-desc {
  font-size: 15pt;
  padding: 10px 0;
}

.movie-card:hover .descriptions {
  left: 0px;
  transition: all 0.7s ease-in-out;
  clip-path: circle(75%);
}
.movie-card:hover {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  transform: scale(0.97);
}
.movie-card:hover img {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}
.movie-card h1 {
  color: #ff3838;
  letter-spacing: 1px;
  margin: 0px;
}
.movie-card p {
  line-height: 24px;
  height: 70%;
}
.movie-card button {
  width: fit-content;
  height: 40px;
  cursor: pointer;
  border-style: none;
  background-color: #ff3838;
  color: #fff;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}
.movie-card button:hover {
  transform: scale(0.95) translateX(-5px);
  transition: all 0.5s ease-in-out;
}

/******************************************** Footer styling **********************/
footer {
  background-color: rgb(240, 240, 240);
  border-top: goldenrod 15px solid;
  display: flex;
  width: 100%;
}

.footy-can {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 25vh;
}

.footer-links-can {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
}

.footy-header {
  text-align: center;
  padding-top: 25px;
  font-size: 25pt;
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.footy-sub-header {
  margin: 0 auto;
  padding: 10px;
  font-size: 14pt;
  font-weight: 500;
}

.footy-links-l,
.footy-links-m,
.footy-links-r {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.footy-link-list {
  text-align: center;
}

.footy-links-l > a,
.footy-links-m > a,
.footy-links-r > a {
  color: #111;
  font-size: 11pt;
  text-decoration: none;
}

.footer-copyright {
  display: flex;
  font-size: 9pt;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat Alternates', sans-serif;
  padding-bottom: 5px;
}

.socials-box {
  display: flex;
  justify-content: space-around;
}

.footy-links-r {
  justify-content: space-evenly;
}

.footy-social-icon {
  height: 36px;
}

.footy-tmdb-icon {
  height: 40px;
}

.attribution {
  padding: 10px;
  font-size: 9pt;
  text-align: center;
}

.moviebuffs-copyright {
  font-size: 10pt;
  font-style: italic;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .home-page-show-header {
    font-size: 65pt;
  }

  .cheeky-hook {
    font-size: 11pt;
  }
}

@media screen and (min-width: 750px) {
  .film-package {
    padding: 125px 0 100px 60px;
  }
}

@media screen and (max-width: 800px) {
  .backdrop-showcase {
    display: none;
  }

  .backdrop-showcase-mobile {
    display: flex;
    min-height: 40vh;
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: #3a3a3a 1px solid;
    box-shadow: 0 0 20px 8px #222;
  }

  .film-package {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    width: 100%;
  }
}

@media screen and (min-width: 1050px) {
  .film-package {
    padding-left: 100px;
  }
}

@media screen and (max-width: 1150px) {
  .mp-film-opts-can {
    padding: 0;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1700px) {
  .film-package {
    padding-left: 200px;
  }
}
